.footer__pages__mobile__tablet {
  background-color: pink;
  width: 100%;
  height: auto;
  font-size: 15px;
}

.footer__pages__mobile__tablet .container__footer {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__pages__mobile__tablet .container__footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__pages__mobile__tablet .container__footer img {
  width: 20px;
  height: auto;
  margin-right: 20px;
}

body {
  font-family: 'Aladin', cursive;
}

header {
  width: 100%;
  border-bottom: 2px solid white;
}

header .colorFondo {
  background-color: pink;
  height: auto;
}

header .colorFondo .logo {
  width: 150px;
  height: auto;
}

main {
  background-image: -webkit-gradient(linear, left top, right top, from(#b0f2c2), to(#fcfcda));
  background-image: linear-gradient(to right, #b0f2c2, #fcfcda);
  width: 100%;
  height: auto;
  border-bottom: 2px solid white;
}

main .contenedor {
  padding: 5px;
}

main .contenedor .contenido__sobreMi {
  text-align: center;
  padding: 10px 10px;
}

main .contenedor .contenido__sobreMi h2 {
  color: #70070e;
  border-bottom: 1px solid black;
  font-size: 28px;
}

main .contenedor .contenido__sobreMi p {
  color: black;
  font-size: 18px;
}

main .contenedor .imagen__chef img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  height: auto;
  margin-top: 10px;
}

footer {
  background-color: pink;
  width: 100%;
  height: auto;
}

footer h5 {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  margin: 0 25px;
  margin-bottom: 10px;
}

footer .menu__Footer .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .menu__Footer .footer__redes ul {
  list-style: none;
}

footer .menu__Footer .footer__redes ul li {
  padding-top: 5px;
}

footer .menu__Footer .footer__redes ul li a {
  color: black;
}

footer .menu__Footer .footer__redes ul li a img {
  width: 20px;
}

footer .menu__Footer .footer__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .menu__Footer .footer__contacto .name {
  font-size: 18px;
}

footer .menu__Footer .footer__contacto ul {
  list-style: none;
}

footer .menu__Footer .footer__contacto ul li {
  padding-top: 5px;
}

footer .menu__Footer .footer__contacto ul li a {
  color: black;
}

footer .menu__Footer .footer__contacto ul li a img {
  width: 20px;
}

footer .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .copy p {
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  header .colorFondo {
    background-color: pink;
  }
  header .colorFondo .logo {
    width: 150px;
    height: auto;
  }
  header .colorFondo ul {
    font-size: 20px;
  }
  main {
    background-color: #ffc0cbaf;
  }
  main .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .contenedor .contenido__sobreMi {
    width: 350px;
    height: auto;
  }
  main .contenedor .contenido__sobreMi h2 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  main .contenedor .contenido__sobreMi p {
    font-size: 20px;
  }
  main .contenedor .imagen__chef img {
    width: 300px;
    height: auto;
    margin: 0 10px;
  }
  footer h5 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer .menu__Footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .menu__Footer h5 {
    text-align: center;
  }
  footer .copy {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 0 5px 5px #000000c5;
            box-shadow: 0 0 5px 5px #000000c5;
    margin-bottom: 10px;
    border-bottom: none;
  }
  header .colorFondo .logo {
    width: 180px;
    height: auto;
  }
  main {
    background-color: #ffc0cbaf;
  }
  main .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .contenedor .contenido__sobreMi {
    width: 380px;
    height: auto;
  }
  main .contenedor .contenido__sobreMi h2 {
    color: #a1a107b0;
    font-size: 40px;
    padding-bottom: 0px;
  }
  main .contenedor .contenido__sobreMi p {
    font-size: 26px;
    text-align: justify;
  }
  main .contenedor .imagen__chef img {
    width: 390px;
    margin-left: 280px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 5px #000000c2;
            box-shadow: 0 0 5px 5px #000000c2;
  }
  footer {
    margin-top: 5px;
    -webkit-box-shadow: 0 0 5px 5px #000000c5;
            box-shadow: 0 0 5px 5px #000000c5;
  }
  footer h5 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer .menu__Footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .menu__Footer h5 {
    text-align: center;
  }
}

.footer__pages__mobile__tablet {
  background-color: pink;
  width: 100%;
  height: auto;
  font-size: 15px;
}

.footer__pages__mobile__tablet .container__footer {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__pages__mobile__tablet .container__footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__pages__mobile__tablet .container__footer img {
  width: 20px;
  height: auto;
  margin-right: 20px;
}

main {
  width: 100%;
  height: auto;
  padding: 20px;
}

main .container__servicios {
  -webkit-box-shadow: 0 0 10px 5px;
          box-shadow: 0 0 10px 5px;
  background-color: #000000c5;
  padding: 0 15px;
  border-radius: 10px;
  height: auto;
}

main .container__servicios h2 {
  color: white;
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid white;
  font-size: 30px;
}

main .container__servicios ul {
  color: white;
  list-style: none;
}

main .container__servicios ul li {
  font-size: 20px;
  padding-top: 10px;
}

main .container__servicios ul li img {
  width: 25px;
}

main .container__servicios p {
  font-size: 15px;
  color: white;
  padding-bottom: 10px;
}

.footer__pages__mobile__tablet {
  background-color: pink;
  width: 100%;
  height: auto;
  font-size: 15px;
}

.footer__pages__mobile__tablet .container__footer {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__pages__mobile__tablet .container__footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__pages__mobile__tablet .container__footer img {
  width: 20px;
  height: auto;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  header .colorFondo .logo {
    width: 150px;
  }
  header .colorFondo ul {
    font-size: 20px;
  }
  header .colorFondo ul a:hover {
    background-color: #ffffff7a;
    border-radius: 10px;
  }
  main {
    width: 100%;
    height: auto;
  }
  main .container__servicios {
    width: 500px;
    height: auto;
    -webkit-box-shadow: 0 0 10px 5px;
            box-shadow: 0 0 10px 5px;
  }
  main .container__servicios h2 {
    font-size: 35px;
    border-bottom: 1 solid white;
  }
  main .container__servicios ul li {
    font-size: 25px;
    text-align: left;
  }
  main .container__servicios p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 100%;
    height: auto;
  }
  header .colorFondo .logo {
    width: 180px;
    height: auto;
  }
}

header {
  width: 100%;
  height: auto;
}

main {
  width: 320px;
  height: auto;
}

main .contenedor-Galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .contenedor-Galeria .grid-imagenes img {
  width: 300px;
  height: auto;
  margin-left: -10px;
  margin-bottom: 10px;
}

main .contenedor-Galeria .images-grid img {
  width: 300px;
  height: auto;
  margin-left: -10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
  }
  main .contenedor-Galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
  }
  main .contenedor-Galeria .grid-imagenes img {
    width: 250px;
    height: auto;
  }
  main .contenedor-Galeria .images-grid img {
    width: 250px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: 'Aladin', cursive;
  }
  header {
    width: 100%;
    height: auto;
  }
  header .colorFondo .logo {
    width: 180px;
    height: auto;
  }
  main {
    width: 100%;
    height: auto;
    background-color: pink;
  }
  main .contenedor-Galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 400px 400px 400px;
        grid-template-columns: 400px 400px 400px;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    gap: 10px;
  }
  main .contenedor-Galeria .grid-imagenes img {
    width: 400px;
    height: auto;
  }
  main .contenedor-Galeria .images-grid img {
    width: 400px;
    height: 550px;
  }
}

.footer__pages__mobile__tablet {
  background-color: pink;
  width: 100%;
  height: auto;
  font-size: 15px;
}

.footer__pages__mobile__tablet .container__footer {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__pages__mobile__tablet .container__footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__pages__mobile__tablet .container__footer img {
  width: 20px;
  height: auto;
  margin-right: 20px;
}

@media screen and (min-width: 1200px) {
  header {
    width: 100%;
    height: auto;
  }
  header .colorFondo .logo {
    width: 180px;
    height: auto;
  }
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
  }
  main .container__Contacto {
    width: 500px;
    height: 300px;
  }
  main .mi__form {
    width: 600px;
    height: 400px;
    -webkit-box-shadow: 0 0 5px 5px #00000094;
            box-shadow: 0 0 5px 5px #00000094;
  }
}

main {
  width: 100%;
  height: auto;
}

main .container__Contacto {
  text-align: center;
  height: auto;
  background-color: #000000c5;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 5px;
          box-shadow: 0 0 10px 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

main .container__Contacto p {
  color: white;
  padding: 5px 10px;
  font-size: 20px;
}

main .container__Contacto nav ul {
  background-image: -webkit-gradient(linear, left top, right top, from(pink), to(white));
  background-image: linear-gradient(to right, pink, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

main .container__Contacto nav ul li {
  list-style: none;
  margin-right: 10px;
  padding: 5px;
}

main .container__Contacto nav ul li a img {
  width: 20px;
}

main .mi__form {
  padding-bottom: 10px;
  background-color: #ffffffc9;
  border-radius: 10px;
  text-align: center;
}

main .mi__form .color__texto {
  color: white;
  font-size: 20px;
}

footer {
  background-color: pink;
  height: auto;
}

footer .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=pages.css.map */