* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

header {
  width: 100%;
  border-bottom: 2px solid white;
}

header .colorFondo {
  background-color: #ffc0cb;
  height: auto;
}

header .logo {
  width: 150px;
  height: auto;
}

main {
  width: 100%;
  height: auto;
  background-image: url(../multimedia/fondo-flores.jpg);
}

main .miContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main .miContainer .presentacion__Home {
  height: auto;
  background-color: #000000b6;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 0 2px;
}

main .miContainer .presentacion__Home h1 {
  color: #ffffffde;
  font-size: 30px;
}

main .miContainer .presentacion__Home h2 {
  color: #ffffffde;
  font-size: 30px;
  border-bottom: 1px solid white;
}

main .miContainer .presentacion__Home p {
  font-size: 20px;
  color: white;
  padding-top: 30px;
}

main .miContainer__dos h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: turquoise;
}

main .miContainer__dos .description__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .miContainer__dos .description__one img {
  width: 250px;
  height: auto;
}

main .miContainer__dos .description__one p {
  font-size: 15px;
  text-align: center;
  background-color: white;
  width: 250px;
  padding: 0 5px;
}

footer {
  background-color: pink;
  width: 100%;
  height: auto;
  font-size: 15px;
}

footer .menu__Footer {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .menu__Footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .menu__Footer img {
  width: 25px;
  height: auto;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  header .colorFondo {
    background-color: none;
  }
  header .colorFondo .logo {
    width: 150px;
    height: auto;
  }
  header .colorFondo ul {
    font-size: 20px;
  }
  main {
    width: 100%;
    height: auto;
    background-image: url(../multimedia/fondo-flores-tablet-desktop.jpg);
  }
  main .miContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .miContainer .presentacion__Home {
    width: 550px;
    height: auto;
    margin-top: 10px;
    padding: 10px 10px;
  }
  main .miContainer .presentacion__Home h1 {
    font-size: 35px;
  }
  main .miContainer .presentacion__Home h2 {
    font-size: 35px;
    padding-bottom: 8px;
  }
  main .miContainer .presentacion__Home p {
    font-size: 25px;
  }
  main .miContainer__dos h3 {
    font-size: 25px;
  }
  main .miContainer__dos .description__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .miContainer__dos .description__one img {
    width: 350px;
  }
  main .miContainer__dos .description__one p {
    width: 350px;
    font-size: 20px;
    margin-top: 10px;
  }
  main .miContainer__dos .description__reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  footer {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  header .colorFondo {
    background-color: pink;
  }
  header .colorFondo .logo {
    width: 180px;
    height: auto;
  }
  header .colorFondo ul li {
    font-size: 20px;
  }
  header .colorFondo ul a:hover {
    background-color: #ffffffa6;
    border-radius: 10px;
  }
  main {
    width: 100%;
    height: auto;
    background-image: url(../multimedia/fondo-flores-tablet-desktop.jpg);
  }
  main .miContainer .presentacion__Home {
    width: 1200px;
    height: auto;
  }
  main .miContainer .presentacion__Home h1 {
    color: pink;
    font-size: 45px;
  }
  main .miContainer .presentacion__Home h2 {
    color: pink;
    font-size: 45px;
  }
  main .miContainer .presentacion__Home p {
    font-size: 30px;
  }
  main .miContainer__dos h3 {
    font-size: 30px;
    height: 50px;
  }
  main .miContainer__dos .description__one img {
    width: 500px;
    height: auto;
  }
  main .miContainer__dos .description__one p {
    width: 500px;
    height: auto;
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */