* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Aladin', cursive;
}

header {
  width: 100%;
  border-bottom: 2px solid white;
}

header .colorFondo {
  background-color: #ffc0cbd0;
  height: auto;
}

header .logo {
  width: 150px;
  height: auto;
}

main {
  width: 100%;
  height: auto;
  background-color: #ffc6af;
  border-bottom: 2px solid white;
}

main .miContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-image: url(../multimedia/fondo_casa.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .miContainer .presentacion__Home {
  height: auto;
  padding: 5px 5px;
  background-color: #0000003a;
}

main .miContainer .presentacion__Home h1 {
  font-size: 30px;
  background: -webkit-linear-gradient(#ffff00dc, #ff0000d2, #f34af3e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
}

main .miContainer .presentacion__Home h2 {
  padding-bottom: 10px;
  color: white;
  font-size: 25px;
  border-bottom: 2px solid #00000086;
}

main .miContainer .presentacion__Home p {
  font-size: 24px;
  color: white;
}

main .container_dos .container_h3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#b0f2c2), to(#fcfcda));
  background-image: linear-gradient(to right, #b0f2c2, #fcfcda);
}

main .container_dos .container_h3 h3 {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}

main .container_dos .contenido_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

main .container_dos .contenido_home img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

main .container_dos .contenido_home p {
  font-size: 18px;
  color: #000000d7;
  background-color: #ffffffd5;
  text-align: center;
  width: 100%;
  padding: 5px 5px;
  border-radius: 5px;
}

footer {
  background-color: #ffc0cbd0;
  width: 100%;
  height: auto;
}

footer h5 {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  margin: 0 25px;
  margin-bottom: 10px;
}

footer .menu__Footer .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .menu__Footer .footer__redes ul {
  list-style: none;
}

footer .menu__Footer .footer__redes ul li {
  padding-top: 5px;
}

footer .menu__Footer .footer__redes ul li a {
  color: black;
}

footer .menu__Footer .footer__redes ul li a img {
  width: 20px;
}

footer .menu__Footer .footer__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .menu__Footer .footer__contacto .name {
  font-size: 18px;
}

footer .menu__Footer .footer__contacto ul {
  list-style: none;
}

footer .menu__Footer .footer__contacto ul li {
  padding-top: 5px;
}

footer .menu__Footer .footer__contacto ul li a {
  color: black;
}

footer .menu__Footer .footer__contacto ul li a img {
  width: 20px;
}

footer .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .copy p {
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
  }
  header .colorFondo {
    background-color: none;
  }
  header .colorFondo .logo {
    width: 150px;
    height: auto;
  }
  header .colorFondo ul {
    font-size: 20px;
  }
  main {
    width: 100%;
    height: auto;
  }
  main .miContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .miContainer .presentacion__Home {
    width: 100%;
    height: 400px;
    padding: 10px 10px;
  }
  main .miContainer .presentacion__Home h1 {
    font-size: 50px;
  }
  main .miContainer .presentacion__Home h2 {
    font-size: 35px;
    padding-bottom: 8px;
  }
  main .miContainer .presentacion__Home p {
    font-size: 30px;
    color: white;
  }
  main .container_dos .container_h3 h3 {
    font-size: 30px;
  }
  main .container_dos .contenido_home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .container_dos .contenido_home img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
  }
  main .container_dos .contenido_home p {
    width: 300px;
    height: 300px;
    font-size: 22px;
    padding: 10px 10px;
  }
  main .container_dos .contenido_reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  footer h5 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer .menu__Footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .menu__Footer h5 {
    text-align: center;
  }
  footer .copy {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 5px 5px #000000c5;
            box-shadow: 0 0 5px 5px #000000c5;
    border-bottom: none;
  }
  header .colorFondo {
    background-color: #ffc0cb;
  }
  header .colorFondo .logo {
    width: 180px;
    height: auto;
  }
  header .colorFondo ul li {
    font-size: 20px;
  }
  header .colorFondo ul a:hover {
    background-color: #ffffffd3;
    border-radius: 10px;
  }
  main {
    width: 100%;
    height: auto;
  }
  main .miContainer {
    width: 100%;
    height: 700px;
    background-image: url(../multimedia/fondo_casa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  main .miContainer .presentacion__Home {
    width: 100%;
    border-radius: 0px;
    background-color: #ffffff00;
  }
  main .miContainer .presentacion__Home h1 {
    color: #000000;
    font-size: 70px;
    margin-top: 20px;
    border-bottom: 2px solid #00000086;
    margin: 0 80px;
    padding-bottom: 10px;
  }
  main .miContainer .presentacion__Home h2 {
    color: #000000;
    font-size: 65px;
    padding-top: 12px;
    border-bottom: none;
    margin-top: 85px;
  }
  main .miContainer .presentacion__Home p {
    font-size: 30px;
    color: #000000;
    background-color: #ffffff71;
    border-radius: 5px;
  }
  main .miContainer .box__images {
    width: 1200px;
    height: auto;
  }
  main .miContainer .box__images img {
    width: 50px;
  }
  main .miContainer__dos {
    background-color: #ffc6af;
  }
  main .miContainer__dos .container_h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
    background-image: -webkit-gradient(linear, left top, right top, from(#b0f2c2), to(#fcfcda));
    background-image: linear-gradient(to right, #b0f2c2, #fcfcda);
  }
  main .miContainer__dos .container_h3 h3 {
    font-size: 30px;
    height: 50px;
    color: #000000;
  }
  main .miContainer__dos .description__one img {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  main .miContainer__dos .description__one p {
    width: 500px;
    height: auto;
    font-size: 25px;
  }
  footer {
    margin-top: 5px;
    -webkit-box-shadow: 0 0 5px 5px #000000c5;
            box-shadow: 0 0 5px 5px #000000c5;
  }
  footer h5 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer .menu__Footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .menu__Footer h5 {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */