main{
    width: 100%;
    height: auto;
    .container__Contacto{
        width: 100%;
        padding: 10px 10px;
        .box__Contactos{
            width: 100%;
            height: auto;
            background-color:#9d43f1b6;
            padding: 10px 10px;
            border-radius: 5px;
            box-shadow: 0 0 5px 5px #00000075;
            p{
                font-size: 20px;
                text-align: justify;
            }
        }
        nav{
            ul{
                background-image: linear-gradient( to right,pink, white);
                display: flex;
                justify-content: center;
                margin: 0 10px;
                border-radius: 5px;
                li{
                    list-style: none;
                    margin-right: 10px;
                    padding: 5px;
                    a{
                        img{
                           width: 20px;
                        }
                    }
                }
            }
        }
    }
    form{
        padding: 0 10px;
        margin-bottom: 10px;
        .mi__form{
            padding-bottom: 10px;
            border-radius: 10px;
            text-align: center;
            .color__texto{
                color: white;
                font-size: 20px;
            }
        }
    }
    
}
footer{
    background-color: pink;
    height:auto;
    .copy{
        display: flex;
        justify-content: center;
    }
}