 header{
    width: 100%;
    height: auto;
}
main{
    width: 320px;
    height: auto;
    .contenedor__Galeria{
        display: flex;
        flex-direction: column;
       .boxGaleriaUno img{
           width: 250px;
           height: auto;
           margin: 10px; 
       }
       .boxGaleriaDos img{
            width: 250px;
            height: auto;
            margin: 10px;
       }
    } 
}
