 header{
    width: 100%;
    height: auto;
}
main{
    width:100%;
    height: auto;
    .contenedor_galeria{
       display: flex;
       flex-direction: column;
       padding: 10px 10px;
        .grid-imagenes img{
            width: 100%;
            height: auto;
            margin-bottom: 5px;
        }
        .images-grid img{
            width: 100%;
            height: auto;
            margin-bottom: 5px;
        }    
    } 
}
