@media screen and (min-width:768px){
    header{
        width: 100%;
    }
    main{
        .contenedor_galeria{
           display: grid;
           grid-template-columns: 33% 33% 33%;
           .grid-imagenes img{ 
               width: 100%;
               height: auto;
           }

           .images-grid img{
               width: 100%;
               height: 400px;
           }
        }
    }
}