@media screen and (min-width:1200px){
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    body{
        font-family: 'Aladin', cursive;
    }
    header{
        width: 100%;
        height: auto;
        .colorFondo{
            .logo{
                width: 180px;
                height: auto;
            }
        }
    }
    main{
        width: 100%;
        height: auto;
        background-color:pink;
        .contenedor-Galeria{
            display: grid;
            grid-template-columns: 400px 400px 400px;
            grid-template-rows: auto auto auto;
            gap: 10px;
            .grid-imagenes img{
                width: 400px;
                height: auto;
            }
            .images-grid img{
                width: 400px;
                height: 550px;
            }
        }
    }
}