 header{
    width: 100%;
    height: auto;
}
main{
    width: 320px;
    height: auto;
    .contenedor-Galeria{
       display: flex;
       flex-direction: column;
        .grid-imagenes img{
            width: 300px;
            height: auto;
            margin-left: -10px;
            margin-bottom: 10px;
        }
        .images-grid img{
            width: 300px;
            height: auto;
            margin-left: -10px;
            margin-bottom: 10px;
        }    
    } 
}
