@media screen and (min-width:1200px){
    header{
        .colorFondo{
            background-color: pink;
            .logo{
                width: 180px;
                height: auto;
            }
            ul{
                li{
                   font-size: 20px;
                }
                a:hover{
                    background-color: pink;
                    border-radius: 10px;
                }
            }
        }
    }
    main{
        background-color:none;
        .miContainer{
            display: flex;
            .contenidoPrincipal{
                
                width: 600px;
                height: 450px;
                h2{
                    font-size: 35px;
                }
                p{
                    font-size: 30px;
                    text-align: center;
                }
            }
         .box__Imagenes{
             /* width:100%; */
             height: auto;
         }
        }
    }
}