@media screen and (min-width:768px){
   header{
       width: 100%;
       .colorFondo{
           background-color:none;
        .logo{
            width: 150px;
            height: auto;
        }
        ul{
            font-size: 20px;
        }
    }
 }
    main{
        width: 100%;
        height: auto;
        .miContainer{
            .presentacion__Home{
                h1{
                    font-size: 60px;
                }
                h2{
                    font-size: 38px;
                    border-bottom: none;
                }
                p{
                    font-size: 35px;
                }
            }
        }
    
        .container_dos{
            .container_h3{
                width: 100%;
                height: auto;
                h3{
                    font-size: 30px;
                }
            }
            .contenido_home{
                display: flex;
                flex-direction: row;
                img{
                    width: 250px;
                    height: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 22px;
                    width: 250px;
                    height: 300px;
                    padding: 5px 5px;
                }
            }
            .contenido_reverse{
                flex-direction: row-reverse;
            }
        }
    }
    footer{
        h5{
            text-align: center;
            padding-top: 10px;
            padding-bottom:10px;
            font-size: 25px;
        }
        .menu__Footer{
            display: flex;
            justify-content: space-around;
            h6{
                font-size: 20px;
            }
            .footer__contacto{
                .name{
                    font-size: 20px;
                }
            }
        }
        .copy{
            font-size: 15px;
            font-family:sans-serif;
        }
    }
}