body{
    font-family: 'Aladin', cursive;
}
header{
    width: 100%;
    border-bottom: 2px solid white;
    .colorFondo{
        background-color: #ffc0cb;
        height:auto;
    }
    .logo{
        width: 150px;
        height: auto;
    }
}

main{
    width: 100%;
    height: auto;
    background-color: #ffc6af;
    border-bottom: 2px solid white;
    .miContainer{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-image: url(../multimedia/fondo_casa.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .presentacion__Home{
            height: auto;
            padding: 5px 5px;
            background-color:#0000003a;
            h1{
               background-image: linear-gradient(to right, #ffa600c4,#ff0000c7,#f353f3);
               -webkit-text-fill-color: transparent;
               -webkit-background-clip: text;
                font-size: 30px;
            }    
            h2{
                padding-bottom: 10px;
                color:white;
                font-size: 28px;
                border-bottom: 2px solid #00000086;
            }
            p{
                font-size: 24px;
                color:white;
            }
        }
    }
    .miContainer__dos{
        .container_h3{
            background-image: linear-gradient(to right, #b0f2c2, #fcfcda);
            h3{
                font-size: 20px;
                text-align: center;
                margin-top: 20px;
            }
        }
        .description__one{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 250px;
                height: auto;
            }
            p{
                font-size: 15px;
                text-align: center;
                background-color: white;
                width: 250px;
                padding: 0 5px;
            }
        }
    }
}

footer{
    background-color: pink;
    width: 100%;
    height:auto;
    h5{
        text-align: center;
        font-size: 18px;
        padding-top: 10px;
        margin: 0 25px;
        margin-bottom: 10px;
    }
    .menu__Footer{
        .footer__redes{
            display: flex;
            flex-direction: column;
            text-align: center;
            ul{
                list-style: none;
                li{
                    padding-top: 5px;
                    a{
                        color: black;
                        img{
                            width: 20px;
                        }
                    }
                   
                }
            }
        }
        .footer__contacto{
            display: flex;
            flex-direction: column;
            text-align: center;
            .name{
                font-size: 18px;
            }
            ul{
                list-style: none;
                li{
                    padding-top: 5px;
                    a{
                        color: black;
                        img{
                            width: 20px;
                        }
                    }
                }
            }
        }
    
    }    
    .copy{
        display: flex;
        flex-direction: column;
        text-align: center;
        p{
            padding-top: 10px;
        }
    }
}