main{
    background-image: linear-gradient(to right, #fcfcc9da, #ffc0cbcb);
    .container_servicios{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px 10px;
        .texto_presentacion{
            h1{
                color:lightcoral;
                font-size: 40px;
                border-bottom: 2px solid #808080a2;
            }
            p{
                text-align: justify;
                font-size: 18px;
            }
        }
        
        .info_cursos{
            h3{
                font-size: 20x;
                color: lightcoral;
            }
            p{
                font-size: 18px;
                color: blueviolet;
            }
            ul{
                list-style: none;
                li{
                    img{
                        width: 20px;
                    }
                    a{
                        color: hotpink;
                    }
                }
            }
        }
    }
}