@import"variables";
@media screen and (min-width:768px) {
    header{
        .colorFondo{
            .logo{
                width: 150px;
            }
            ul{
                font-size: 20px;
                    a:hover{
                        background-color: #ffffff7a;
                        border-radius: 10px;
                    }
            }
        }
    }
    main{
        width: 100%;
        height: auto;
        .container_servicios{
            .texto_presentacion{
                h1{
                    color: lightcoral;
                    font-size: 40px;
                    border-bottom: none;
                }    
                p{
                    text-align: justify;
                    font-size: 22px;
                }
            }
            .info_cursos{
                h3{
                    font-size: 30px;
                }
                p{
                    font-size: 20px;
                    color:blueviolet;
                }
            }
        }
    }





































}