@import"variables";
main{
    width: 100%;
    height: auto;
    padding: 20px;
    .container__servicios{
        box-shadow: 0 0 10px 5px;
        background-color: #000000c5;
        padding: 0 15px;
        border-radius: 10px;
        height: auto;
        h2{
        color: white;
        text-align: center;
        padding-top: 10px;
        border-bottom: 1px solid white;
        font-size: 30px;
        }
        ul{
            color: white;
            list-style: none;
            li{
                font-size: 20px;
                padding-top: 10px;
                img{
                    width: 25px;
                }
            }
        }
        p{
            font-size: 15px;
            color: white;
            padding-bottom: 10px;
        }
    }
        
}
