@media screen and (min-width:768px) {
     header{
        .colorFondo{
            background-color:pink;
            .logo{
             width: 150px;
             height: auto;
            }
            ul{
             font-size: 20px;
            }
        }   
    }
    main{
        .contenedor_sobreMi{
            display: flex;
            flex-direction: row;
            .contenido__sobreMi{
                width: 50%;
                height: auto;
                h2{
                    font-size: 30px;
                    padding-bottom: 10px;            
                }
                p{
                    font-size: 25px;
                }
            }
            .imagen__chef img{
                width:350px;
            }
        }    
    }    
    footer{
        h5{
            text-align: center;
            padding-top: 10px;
            padding-bottom:10px;
        }
        .menu__Footer{
            h5{
                text-align: center;
            }
            display: flex;
            justify-content: space-around;
        }
        .copy{
            font-size: 14px;
        }
    }
}