@media screen and (min-width:1200px){
    header{
        width: 100%;
        height: auto;
        box-shadow: 0 0 5px 5px #000000c5;
        margin-bottom: 10px;
        border-bottom: none;
        .colorFondo{
            .logo{
                width: 180px;
                height: auto;
            }
        }
    }
    main{
        background-image: linear-gradient(to right, #fcfcc9da, #ffc0cbcb);
        .contenedor_sobreMi{
            width: 80%;
            height: auto;
            text-align: center;
            .contenido__sobreMi{
                width: 400px;
                height: auto;
                h2{
                    font-size: 50px;
                }
                p{
                    font-size: 28px;
                }
            }
            .imagen__chef img{
                width: 400px;
            }
        }
    }
    footer{
        margin-top: 5px;
        box-shadow: 0 0 5px 5px #000000c5;
        h5{
            text-align: center;
            padding-top: 10px;
            padding-bottom:10px;
        }
        .menu__Footer{
            h5{
                text-align: center;
            }
            display: flex;
            justify-content: space-around;
        }
    }

}